{% extends 'base.html' %}
{% load static %}
{% block content %}
	{%include 'tambah_data.html'%}
	<div class="container">
		<div class="row">
			<div class="col text-center" style="margin-top: 20px">
				<h2 class="text-white">List Seluruh Karyawan</h2>
				
				<button style="margin: 15px" type="button" class="btn btn-warning" data-toggle="modal" data-target="#TambahData">Tambah Data Karyawan</button>
				<a style="margin: 15px" type="button" class="btn btn-success disabled" href="#">Download Daftar Karyawan</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover text-center table-bordered table-striped" >
				<thead>
					<tr class="">
						<th class="align-middle" scope="col">No.</th>
						<th class="align-middle" scope="col">Nama</th>
						<th class="align-middle" scope="col">Masa Kerja</th>
						<th class="align-middle" scope="col">Usia</th>
						<th class="align-middle" scope="col">Prestasi Kerja</th>
						<th class="align-middle" scope="col">Kemampuan Komunikasi</th>
						<th class="align-middle" scope="col">Kesehatan</th>
						<th class="align-middle" scope="col"> Action</th>
					</tr>
				</thead>
				<tbody>
					{% for k in list_karyawan %}
						<tr>
							<th scope="col" class="align-middle">{{forloop.counter}}</th>
							<td class="align-middle">{{k.nama}} </td>
							<td class="align-middle">{{k.masa_kerja}} </td>
							<td class="align-middle">{{k.usia}} </td>
							<td class="align-middle">{{k.prestasi}} </td>
							<td class="align-middle">{{k.kemampuan_komunikasi}} </td>
							<td class="align-middle">{{k.kesehatan}} </td>
							<td class="align-middle">
								<a href="{% url 'ubah' k.id %}" class="btn btn-primary">Edit</a>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Hapus-{{k.id}}">Hapus
								</button>
							</td>
						</tr>
						<!--MODAL-->
						<div class="modal fade" id="Hapus-{{k.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Hapus</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Apakah Anda Yakin Akan Menghapus Data Karyawan <strong>{{k.nama}}?</strong></p>
									</div>
									<div class="modal-footer">
										<a href="{% url 'hapus' k.id %}" class="btn btn-danger">Yes</a>
										<button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
									</div>
								</div>
							</div>
						</div>
						<!--END MODAL-->
						
					{% endfor %}
					<tbody>
					</table>
				</div>
			</div>
		{% endblock %}